@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: Roboto;
    letter-spacing: 0.5px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    padding-top: 80px;
    margin-top: 2vh;
}

.navegacao{
    display: flex;
    height: 6vh;
    width: 100vw;
    padding: 0 20px;
    position:fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(233, 198, 198);
    background-color: white;
    
}


.buttom-nav{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: white;
    
}

.nav-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 25px;
}

.nav-div1 a img{
    max-height: 24px;
}

.nav-div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    height: 34px;
}

#logo img{
    width: 100%;
    height: 100%;
}

.foto{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

#foto-canal{
    width: 40px;
}

#pesquisa{
    display: flex;
    justify-content: center;
    width: 16vw;
    height: 50%;
    margin: 0px;
    padding: 0px 0px;
    
}

#pesquisa #text{
    width: 348px;
    height: 100%;
    margin: 0px;
    border-radius: 0px;
    box-sizing:content-box;
    border: 1px solid lightgray;
}

#pesquisa #submit{
    height: 105%;
    width: 40px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid lightgray;
    background-image: url(assets/search.svg);
    background-clip:content-box;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

#home-sidebar{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 15vw;
    row-gap: 20px;
    justify-content: start;
    align-items: start;
}

.side-item{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
    padding-left: 20px;
}

.side-item img{
    height: 100%;
}

main{
    display: flex;
    width: 80vw;
    height: 90vh;
    justify-self: right;
}

#grid-videos{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 0px;
    padding: 0px 40px;
}

.videos-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px 32px;
    gap: 1.2rem;
}

.videos-item .thumbnail{
    width: 100%;
    align-self: center;
}

.logo-dio{
    width: 60px; 
    height: 60px; 
}

h2{
    font-size: 24px;
    font-weight: 600;
}

.video-leg{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
}

span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(68, 68, 68);
}

.video-text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.video-data{
    display: flex;
    flex-direction: column;
}

.side-span{
    font-size: 20px;
    font-weight: 400;
    color: black;
}